body
{
    font-family: "Segoe UI", "Verdana", sans-serif;
}

.juste
{
    color: chartreuse;
}

.faux
{
    color: red;
}

.connection
{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    clear: both;
    color: #333;
    overflow: auto;
    display: block;
}

legend
{
    padding-top: 20px;
    text-align:center;
}

li
{
    list-style-type: none;
}

input{
    margin-top: 15px;
    margin-left: 50px;
    /*width: 25%;*/
    clear: both;
    font-family: "Segoe UI", "Verdana", sans-serif;
    padding: 5px;
}

.button
{
    font-weight: normal;
    padding: 4px 8px;
    background:#dcdcdc;
    background-image: -webkit-linear-gradient(top,#fefefe,#dcdcdc);
    color: black;
    border:1px solid #bbb;
    border-radius:4px;
    text-align:center;
    text-decoration: none;
    text-shadow:#fff 0 1px 0;
    min-width: 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.2);    
}

input#buttonAjoutQuestion
{
    width:50%;
    font-weight: normal;
    padding: 4px 8px;
    background:#dcdcdc;
    background-image: -webkit-linear-gradient(top,#fefefe,#dcdcdc);
    color: black;
    border:1px solid #bbb;
    border-radius:4px;
    text-align:center;
    text-decoration: none;
    text-shadow:#fff 0 1px 0;
    min-width: 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.2);    
}

input#buttonSuppressionQuestion
{
    width:50%;
    font-weight: normal;
    padding: 4px 8px;
    background:#dcdcdc;
    background-image: -webkit-linear-gradient(top,#fefefe,#dcdcdc);
    color: red;
    border:1px solid #bbb;
    border-radius:4px;
    text-align:center;
    text-decoration: none;
    text-shadow:#fff 0 1px 0;
    min-width: 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.2);    
}

input#button_pageProf
{
    width: 30%;
    font-weight: normal;
    padding: 4px 8px;
    background:#dcdcdc;
    background-image: -webkit-linear-gradient(top,#fefefe,#dcdcdc);
    color: black;
    border:1px solid #bbb;
    border-radius:4px;
    text-align:center;
    text-decoration: none;
    text-shadow:#fff 0 1px 0;
    min-width: 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.2);    
}

input#button_pageEtudiant
{
    width: 39%;
    font-weight: normal;
    padding: 4px 8px;
    background:#dcdcdc;
    background-image: -webkit-linear-gradient(top,#fefefe,#dcdcdc);
    color: black;
    border:1px solid #bbb;
    border-radius:4px;
    text-align:center;
    text-decoration: none;
    text-shadow:#fff 0 1px 0;
    min-width: 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.2);    
}

input#login
{
    margin-left: 30px;
}

input#password
{
    margin-left:15px;
}

input#connexion
{
    margin-left:auto;
}

fieldset {
    text-align:center;
    font-weight: bold;
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    border-radius: 8px;
    background: #e0e0dc;
}

.upper
{
    width:92%;
}

.lower
{
    width:92%;
}

ul
{
    background: #b8b8ba;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 0px;
    list-style: none;
    text-align: center;
    position: relative;
    font-weight: bold;
    width: 100%;
    display: inline-table;
}

.header
{
    margin-bottom: -16px;
}

li
{
    width: 20%;
    display: inline-block;
}

li a
{
    display: block;
    padding: 25px 40px;
    color: #000000;
    text-decoration: none;
}

.button:hover
{
    background: #ededed;
    border-color: #acacac;
    text-decoration: none;
}

ul li a:hover 
{
    background: #4b545f;
}

li:hover 
{
        background: #4b545f;
        background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}

li:hover a 
{
        color: #fff;
}
.presentation
{
    font-family: "Segoe UI", "Verdana", sans-serif;
    text-align: left;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #b1c903;
    font-weight: 900;
    color: black;
}

.content
{
    margin-left:auto;
    margin-right: auto;
    width:50%;
}

.description{
    margin-left:20px;
}

td#creationQcm
{
    padding-top:10px;
}

td#ajouter
{
    padding-left:100px;
}

td
{
    padding-left: 20px;
}

td#pageEtudiant
{
    padding-left:100px;
}

td#question
{
    padding-left: 20px;
}

th
{
    padding-left:90px;
}

.action
{
    margin-left: 20px;
    margin-top: 10px;
}

input#texte
{
    width:80%;
}

input#button_ValiderFormulaire
{
    width:10%;
}

.more
{
    width: 39%;
    font-weight: normal;
    padding: 4px 8px;
    background:#dcdcdc;
    background-image: -webkit-linear-gradient(top,#fefefe,#dcdcdc);
    color: black;
    border:1px solid #bbb;
    border-radius:4px;
    text-align:center;
    text-decoration: none;
    text-shadow:#fff 0 1px 0;
    min-width: 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.2);
}

.less
{
    width: 39%;
    font-weight: normal;
    padding: 4px 8px;
    background:#dcdcdc;
    background-image: -webkit-linear-gradient(top,#fefefe,#dcdcdc);
    color: black;
    border:1px solid #bbb;
    border-radius:4px;
    text-align:center;
    text-decoration: none;
    text-shadow:#fff 0 1px 0;
    min-width: 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.2);
}

#action
{
    width:100%;
}

#action #more
{
    float:left;
    width:50%;
}

#action #less
{
    margin-left:50%;
}

table#choix
{
    margin-left: auto;
    margin-right:auto;
}

table#tableMesQcm
{
    margin-left: auto;
    margin-right:auto;
}

div#retourListe
{
    text-align:left;
}

th#mesQcm
{
    padding-left:20px;
}