.juste
{
    color: chartreuse;
}

.faux
{
    color: red;
}

.connection
{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 0 10 10px 10px;
    clear: both;
    color: #333;
    overflow: auto;
    display: block;
}

legend
{
    padding-top: 20px;
    text-align:center;
}

input, textarea {
    margin-top: 15px;
    margin-left: 50px;
    width: 25%;
    clear: both;
    font-family: "Segoe UI", "Verdana", sans-serif;
    padding: 5px;
}

.button
{
    font-weight: normal;
    padding: 4px 8px;
    background:#dcdcdc;
    background-image: -webkit-linear-gradient(top,#fefefe,#dcdcdc);
    color: black;
    border:1px solid #bbb;
    border-radius:4px;
    text-align:center;
    text-decoration: none;
    text-shadow:#fff 0 1px 0;
    min-width: 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.2);    
}

input#login
{
    margin-left: 30px;
}

input#password
{
    margin-left:15px;
}

input#connexion
{
    margin-left:auto;
}

fieldset {
    text-align:center;
    font-weight: bold;
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    border-radius: 8px;
    background: #e0e0dc;
}